.DS_Store
/env/
/.env/
/__pycache__/
*/__pycache__/
mount/
/.dir-locals.el
/.run_tests.sh
.cov2emacs.log
/.coverage
/dist/
/deb_dist/
docs/_build/
.mypy_cache/
*~
*.swp
/build/cgfs/
/build/cgapi-consumer/
/build/deb.patch
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
